@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: museomoderno, sans-serif;
}

body{background-color: #616161; width: 100vw; height: 100vh;}

.container{width: 100vw; height: 100vh;}

nav{
    position: relative;
    width: 100vw;
    height: 13vh;
    z-index: 5;
    background-color: #f33f3f;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0px 0px 30px 30px;
        button{
        all: unset;
        font-size: 32px;
        text-transform: uppercase;
        cursor: pointer;
    }
    button:hover{
        color: #f33f3f;
        background-color: white;
        border-radius: 10px;
        
    }
  .atv{color: #005796;}
   img{width: 100px;}
}

.add{
    background-color: #3d2926;
    z-index: 2;
    position: relative;
    top: -30px;
    width: 100vw;
    height: 5vh;
    border-radius: 0px 0px 30px 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding-top: 30px;
    
    button,input{
        all: unset;
        width: 250px;
        font-size: 20px;
        text-transform: uppercase;
        cursor: pointer;
        color: white;
    }
    button:hover{
        border: #005796 solid 2px;
        border-radius: 30px;
    }
    input{
        text-align: left;
        border: #005796 solid 2px;
        border-radius: 30px;
        padding-left: 10px;
}
}

main{
    height: 74vh;
    position: relative;
    padding-top: 50px;
    top: -60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;}

footer{
    position: relative;
    padding-top: 50px;
    top: -120px;
    background-color: #481212;
    border-radius: 40px;
    width: 100vw;
    height: 7vh;
}

input:invalid, select:invalid {
  border: 2px solid #ff6b6b;
}

button{cursor: pointer;}
.salvar:hover{color: #218f52;}
.voltar:hover{color: #b6786f;}
.deletar:hover{color: #ff4e21;}
.editar:hover{color: #d6c636;}